
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myXmlLabel" translate="mcsrApp.xml.home.createOrEditLabel">Create or edit a Xml</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.xml.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.xml.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="mcsrApp.xml.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.xml.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="mcsrApp.xml.comment" for="field_comment">Comment</label>
            <input type="text" class="form-control" name="comment" id="field_comment"
                    ng-model="vm.xml.comment"
                     />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setContent($file, vm.xml)">
            <label class="control-label" translate="mcsrApp.xml.content" for="field_content">Content</label>
            <div>
                <div ng-if="vm.xml.content" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.xml.contentContentType, vm.Base64.encode(vm.xml.content))" translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.xml.contentContentType}}, {{vm.byteSize(vm.xml.content)}}</span>
                    <button ng-click="vm.xml.content=null;vm.xml.contentContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="file" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setContent($file, vm.xml)" translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="content" id="field_content"
                    ng-model="vm.xml.content"
                    required />
            <input type="hidden" class="form-control" name="contentContentType" id="field_contentContentType"
                    ng-model="vm.xml.contentContentType" />
            <div ng-show="editForm.content.$invalid">
                <p class="help-block"
                    ng-show="editForm.content.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
