
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myInstanceLabel" translate="mcsrApp.instance.home.createOrEditLabel">Create or edit a Instance</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.instance.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.instance.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="mcsrApp.instance.endpointType" for="field_endpointType">Endpoint Type</label>
            <input type="text" class="form-control" name="endpointType" id="field_endpointType"
                    ng-model="vm.instance.endpointType"
                     />
        </div>

        <div class="form-group">
            <label translate="mcsrApp.instance.instanceAsXml" for="field_instanceAsXml">Instance As Xml</label>
            <select class="form-control" id="field_instanceAsXml" name="instanceAsXml" ng-model="vm.instance.instanceAsXml" ng-options="xml as xml.name for xml in vm.instanceasxmls | orderBy:'id' track by xml.id" required>
                <option value=""></option>
            </select>
            <div ng-show="editForm.instanceAsXml.$invalid">
                <p class="help-block"
                    ng-show="editForm.instanceId.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="mcsrApp.instance.instanceAsDoc" for="field_instanceAsDoc">Instance As Doc</label>
            <select class="form-control" id="field_instanceAsDoc" name="instanceAsDoc" ng-model="vm.instance.instanceAsDoc" ng-options="doc as doc.name for doc in vm.instanceasdocs | orderBy:'id' track by doc.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="mcsrApp.instance.implementedSpecificationVersion" for="field_implementedSpecificationVersion">Implemented Specification Version</label>
            <select class="form-control" id="field_implementedSpecificationVersion" name="implementedSpecificationVersion" ng-model="vm.instance.implementedSpecificationVersion" ng-options="specificationTemplate as specificationTemplate.version for specificationTemplate in vm.specificationtemplates track by specificationTemplate.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label translate="mcsrApp.instance.designs" for="field_designs">Designs</label>
            <select class="form-control" id="field_designs" multiple name="designs" ng-model="vm.instance.designs" ng-options="design as design.name for design in vm.designs track by design.id"></select>
        </div>
        <div class="form-group">
            <label translate="mcsrApp.instance.docs" for="field_docs">Docs</label>
            <select class="form-control" id="field_docs" multiple name="docs" ng-model="vm.instance.docs" ng-options="doc as doc.name for doc in vm.docs track by doc.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
