
<div>
    <h2><span translate="mcsrApp.xsd.detail.title">Xsd</span> {{vm.xsd.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="mcsrApp.xsd.name">Name</span></dt>
        <dd>
            <span>{{vm.xsd.name}}</span>
        </dd>
        <dt><span translate="mcsrApp.xsd.comment">Comment</span></dt>
        <dd>
            <span>{{vm.xsd.comment}}</span>
        </dd>
        <dt><span translate="mcsrApp.xsd.content">Content</span></dt>
        <dd>
            <div ng-if="vm.xsd.content">
                <a ng-click="vm.downloadFile(vm.xsd.name, vm.xsd.contentContentType, vm.xsd.content)" translate="entity.action.download">download</a>
                {{vm.xsd.contentContentType}}, {{vm.byteSize(vm.xsd.content)}}
            </div>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="xsd-detail.edit({id:vm.xsd.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"> Edit</span>
    </button>
</div>
